h1 {
    font-size: 50px;
    font-weight: 800;
  }
  .typography-page-wrapper img {
    max-width: 500px;
  }
  .img-left {
    float: left;
  }
  .img-left,
  .img-right {
    padding: 0 2rem 1rem 0;
  }