.career-page-wrapper .career-page-topbg {
    background-color: #3b60c9;
    padding: 20px 0;
  }
  .career-page-wrapper .career-page-topbg img {
    width: 80%;
    margin: auto;
    display: block;
  }
  .career-page-wrapper .career-page-content-wrap {
    background-color: #ecf1f5;
  }
  .section-padding {
    padding: 90pt 0;
  }
  .career-page-wrapper .career-page-content-wrap .event-filter-area {
    margin-bottom: 75pt;
  }
  .event-filter-area .form-inline {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .event-filter-area .nice-select {
    height: 54px;
    margin-right: 20px;
    text-align: center;
    background-color: #fff;
    color: #6a78a1;
    font-weight: 700;
    font-size: 15px;
    line-height: 54px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 10px;
  }
  
  select option {
    background: #f6f6f6 !important;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    line-height: 40px;
    min-height: 40px;
  }
  
  section option:hover{
    background: #f6f6f6 !important;
  }
  .nice-select .list {
    border-radius: 0;
    font-size: 14px;
    line-height: 1;
  }
  .event-filter-area .nice-select:after {
    border-color: #6a78a1;
    width: 8px;
    height: 8px;
    margin-top: -7px;
  }
  .career-page-wrapper .career-page-content-wrap .job-opportunity-wrapper {
    margin-top: -30px;
  }
  .career-page-wrapper .career-page-content-wrap .single-job-opportunity {
    background-color: #fff;
  }
  .single-job-opportunity {
    border: 1px solid #dbe5f3;
    padding: 30px 0;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 30px;
    color: #3a3b3c;
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .single-job-opportunity .job-opportunity-text {
    padding: 0 20px;
  }
  .single-job-opportunity .job-opportunity-text .job-oppor-logo {
    height: 5pc;
  }