.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #fff;
  color: #3a3b3c;
  line-height: 26px;
  margin: 0;
  font-weight: 400;
}
div {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 50px;
  font-weight: 700;
}
h3{
  font-weight: 100px;
}
.single-committee-member {
  margin-top: 5pc;
}
.single-committee-member {
  text-align: center;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
.single-committee-member .commitee-thumb {
  background-color: #000;
}
.single-committee-member img {
  transition: all 0.4s ease-in-out;
}
.btn-brand:hover {
  background-color: #161f37 !important;
  color: #fff !important;
}
