#footer-area .footer-widget {
    background-color: #161f37;
    color: #b6c1cd;
  }
  .section-padding {
    padding: 90pt 0;
  }
  .row{
    display: flex;
    justify-content: space-between;
  }
  #footer-area .footer-widget .single-widget-wrap {
    margin-bottom: 0;
    font-size: 1rem;
  }
  #footer-area .footer-widget {
    color: #b6c1cd;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-about p {
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 13px;
  }
  .footer-about img{
    max-width: 250px;
    width: 70px;
    height: 70px;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-about a:nth-child(1n) {
    margin-right: 15px;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-about a {
    display: inline-block;
    font-weight: 500;
  }
  #footer-area a {
    color: #fff;
  }
  #footer-area .footer-widget .col-lg-3 .single-widget-wrap {
    margin-bottom: 0;
  }
  #footer-area .footer-widget .single-widget-wrap .widget-title {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 35px;
  }
  #footer-area .footer-widget .single-widget-wrap .newsletter-form {
    margin: 20px 0;
  }
  #footer-area .footer-widget .single-widget-wrap .newsletter-form form {
    position: relative;
  }
  #footer-area .footer-widget .single-widget-wrap .newsletter-form form input {
    background-color: #19294b;
    border: 1px solid transparent;
    color: #fff;
    padding: 9pt 15px;
    padding-right: 70px;
    font-size: 1rem;
    width: 100%;
  }
  #footer-area .footer-widget .single-widget-wrap .newsletter-form form button {
    background-color: #3b60c9;
    color: #fff;
    border: none;
    padding: 13px 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-social-icons a {
    margin-right: 10px;
    transition: all 0.4s ease-in-out;
  }
  #footer-area a {
    color: #fff;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-social-icons a i.fab {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #3b60c9;
    display: inline-block;
    text-align: center;
  }
  #footer-area
    .footer-widget
    .single-widget-wrap
    .footer-social-icons
    a
    i.fa-twitter {
    background-color: #0cbdff;
  }
  #footer-area .footer-widget .col-lg-3 .single-widget-wrap {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .double-list li {
    /* float: left; */
    width: 50%;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-list li a {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1rem;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: relative;
  }
  #footer-area a {
    color: #fff;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-list li a:before {
    content: "";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    font-size: 9pt;
    margin-right: 7px;
}
  #footer-area .footer-bottom {
    background-color: #3b60c9;
    color: #fff;
    padding: 20px 0;
  }
  #footer-area .footer-bottom .footer-bottom-text {
    font-size: 1rem;
  }
  #footer-area .footer-widget .single-widget-wrap .footer-list li a:hover {
    color: #5481ff;
    padding-left: 6px;
  }
  .footer-bottom-text a:hover
  {
  color: yellow!important;
  font-size: 18px;
  }